@import "nullstyle.sass", "media/index.sass", "caption.sass", "flex.sass", "columns.sass", "container.sass", "section.sass", "header.sass","settings.sass", "grid.sass","animations.sass", "timer.sass"

body
    font-family: 'Roboto', sans-serif

.App
    min-width: 100vw
    min-height: 100vh
    position: relative

    &::after
        content: ""
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        background: no-repeat url('../img/Landscape.jpg')
        background-size: cover
        z-index: -1
        opacity: 0.5
