.grid
    padding: 0px 0
    margin-bottom: 20px
    overflow-y: hidden

    &__
        &box
            animation: appearance 1s 1 forwards
            transition: 2s
            margin: 0 auto
        &row

        &column
            padding: 2px

        &button

            height: 68px
            width: 68px
